body{
    background-image: url("template3.jpg");
    background-size: cover;
}

#backToRoom_btn{
    margin-top: 10px;
    margin-left: 7px;
    color: skyblue;
    background-color: darkslategrey;
}

#room_h1{
    color: floralwhite;
}